
.header{

    background-color: rgb(68, 67, 67);
    color:white;
    align-content:space-around 4rem;
    position:top;
    width:100%;
    padding-top:7px;
    padding-bottom:7px;
    text-align:center;
    margin-top:20px;
    position:center;
    padding-bottom:10px;
    padding-top:10px;
   
  
}

.Menu{
   display:flex;
   justify-content: space-around;
   margin: 0 600px;
   text-align:center;
}

a{
    
    color:white;

}

.form-container{

    width:80%;
    margin:auto;
    max-width: 400px;
    padding:20px;
    box-shadow:rgba(0, 0, 0, 0.1);
    position:center;
  }

  .form-row{

    margin-bottom:15px;
  }

  label{
    margin-bottom:5px;
  }

  .interiorcounterFlex{

      position:absolute;
      align-content: space-between 0.25rem;
      top:30px;
      color:white;
      left:1200px;
  }

   
    
   