
.header{

    background-color: gray;
    color:white;
    align-content:space-around 4rem;
    position:top;
    width:100%;
    padding-top:7px;
    padding-bottom:7px;
    text-align:center;
    margin-top:20px;
    position:center;
    padding-bottom:10px;
    padding-top:10px;
   
  
}

.Menu{
   display:flex;
   justify-content: space-around;
   margin: 0 750px;
   text-align:center;
}

.parrafo{

    
}
   

   
    
   